/*genaral styling*/
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #ffffff;
    margin: 0;
}
/* Header Styling */
header {
    background-color: #4682B4;
    color: #fff;
    padding: 0.1rem;
    text-align: center;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
/* Section Styling */
.jumbotron, .content-section {
    padding: 4rem 1rem;
    min-height: 600px; /* Increased height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(https://images.pexels.com/photos/2292837/pexels-photo-2292837.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center;
    color: rgb(231, 226, 226);
    font-size: 25px;
    font-weight: 600;
}
.jumbotron {
    background:url(https://images.pexels.com/photos/289740/pexels-photo-289740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.enroll {
    background: url(https://images.pexels.com/photos/356065/pexels-photo-356065.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    color: #ffffff;
}
button {
    margin-top: 1rem;
    background-color: #FF6347;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}
button:hover {
    background-color: #FF4500;
}
.course-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
/* Footer */
footer {
    background-color: #4682B4;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}
/* Section Background Colors */
#about {
    background:url(https://images.pexels.com/photos/3747505/pexels-photo-3747505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}
#courses {
    background: url(https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}
/* Contact Us Section Styling */
#contact {
    background-color: rgb(80, 80, 132); 
    padding: 1rem;
    height:200px; /* Set specific height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
